# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/build/
.DS_Store

#
hl/**
src/main/resources/plugins/*.dir
src/main/resources/plugins/*.jar
src/main/resources/test-images/*.*
